#root {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  color: #121212;
  height: 100%;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.ranking-container{
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
}

.card-container{
  display:grid;
  grid-template-columns: 1fr 1fr;
  width: 650px;
  gap: 20px;
}

.middle{
  margin: 0 auto;
}

.blue {
  color: #1976d2
}

.red {
 color: red
}

.combo-container {
  display: flex;
  flex-direction: row-reverse;
}

.title-container {
  max-width: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rank {
  display: inline-block;
  font-size: 2em;
  line-height: 0;
  vertical-align: middle;
  margin-right: 2px;
}

.rank-text {
  font-size: 18px;
  vertical-align: super;
  margin-right: 3px;
}

.scroll-top {
  position: fixed;
  bottom: 0;
  right: 25%;
  cursor: pointer;
  font-size: 50px;
}

.section {
  display: flex;
  justify-content: center;
}

.photo_zone {
  padding-right: 30px;
  width: auto;
  margin: auto 0;
}

.img_container {
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

img {
  width: 200px;
}

.info_zone {
  padding-left: 30px;
  width: auto;
  margin: auto;
}

.skill_card{
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 60px;
  align-items: center;
  gap: 10px;
}

.language{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 'auto';
  min-width:122px;
  height: 125px;
  border: 1px solid #dbdbdb;
  justify-content: center;
}

.card_label {
  width: 100%;
  text-align: center;
  padding: 5;
}

.pdt5{
  padding-top: 5px;
}

.mgr10{
  margin-right: 10px;
}

@media ( max-width: 1500px  ) {
  .scroll-top {
    position: fixed;
    bottom: 0;
    right: 10%;
    cursor: pointer;
    font-size: 50px;
  }
}

@media ( max-width: 650px  ) {
  .card-container{
    display:grid;
    grid-template-columns: 1fr;
    width: 300px;
  }
  .scroll-top {
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    font-size: 50px;
  }
}